body {
    background-color: rgb(244, 237, 255) !important;
    display: flex;
}

.container {
    min-height: 100vh;
    background-color: rgb(244, 237, 255) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    margin-bottom: 8px;
}

.quiz-card {
    width: 720px;
    max-width: 90%;
}

.quiz-answer-card {}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white;
}

.end-screen {}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.welcome {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;

    background-image: url('./assets/Quizapp Blue/bg b.png');
    background-size: cover;
    background-position: center;
}

.answer-letter {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    flex-shrink: 0;
}

.end-body {
    background-color: rgb(247, 213, 187);
    width: 720px;
    height: 720px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 50px auto
}

.container {
    display: flex;
    flex-direction: column;
}

.end-buttons {
    border: none;
    width: 196px;
    margin-top: 16px;
}

.end-img {
    height: 188px;
}